@import "tailwindcss";
@theme {
  --color-primary: #1a76d1;
  --color-secondary: #4891dabd;
  --font-poppins: "Poppins", sans-serif;
  --shadow-custom: 18px 18px 30px #f2f2f2, -18px -18px 30px #f2f2f2;
}

.slide {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.swiper-button-next svg {
  display: none;
}
.swiper-button-prev svg {
  display: none;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(60px);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.navber_animation {
  animation: fadeDown 0.5s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.swiper-slide-active .content h1 {
  animation: slideUp 2s ease forwards;
  animation-delay: 0.3s;
}
.swiper-slide-active .content p {
  animation: slideUp 2s ease forwards;
  animation-delay: 0.9s;
}
.swiper-slide-active .content button {
  animation: slideDown 2s ease forwards;
  animation-delay: 0.9s;
}

/* HTML: <div class="loader"></div> */
.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      purple 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, purple 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, purple 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}
