@import "tailwindcss";
@theme {
  --color-primary: #1a76d1;
  /* --color-secondary: #4891da; */
  --font-poppins: "Poppins", sans-serif;
}

.slide {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
