* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 22px;
  background-color: #f5f7fa;
}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #18191f;
}

nav .btn .login {
  font-weight: 500;
  font-size: 14px;
  color: #4caf4f;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
}

nav .btn .signup {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #4caf4f;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 6px;
}

#hero {
  background-color: #f5f7fa;
  padding: 96px 0;
  position: relative;
}

#hero .indicator {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

#hero .indicator span {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #4caf4f;
  opacity: 0.3;
}

#hero .indicator span.active {
  background-color: #4caf4f;
  opacity: 1;
}

#hero .left h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #4d4d4d;
}

#hero .left h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #4caf4f;
}

#hero .left p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
  margin-top: 16px;
}

#hero .left button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 24px;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4caf4f;
  outline: none;
  border: none;
  margin-top: 32px;
}

#client {
  padding: 40px 0;
}

#client h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
  line-height: 44px;
}

#client p {
  font-size: 16px;
  font-weight: 300;
  color: #717171;
  text-align: center;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
}

#service h2 {
  width: 542px;
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  text-align: center;
  line-height: 44px;
  margin: 0 auto;
}

#service p {
  font-size: 16px;
  font-weight: 300;
  color: #717171;
  text-align: center;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
}

#service .service-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#service .card {
  width: 300px;
  text-align: center;
  padding: 24px 16px;
  box-shadow: 0 2px 4px 0 rgba(171, 190, 209, 0.2);
}

#service .card h2 {
  width: 267px;
  margin: 0 auto;
}

#service .card img {
  margin: 0 auto;
  margin-bottom: 16px;
}

#section1 {
  padding: 42px 0;
}

#section1 .left {
  width: 45%;
}
#section1 .right {
  width: 55%;
}
#section1 h2 {
  width: 576px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4d4d4d;
}

#section1 p {
  width: 601px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin-top: 16px;
}

#section1 button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4caf4f;
  outline: none;
  border: none;
  margin-top: 32px;
}

#client-connection {
  background-color: #f5f7fa;
  padding: 64px 0;
}

#client-connection h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  line-height: 44px;
  margin: 0 auto;
}

#client-connection h3 {
  font-size: 36px;
  font-weight: 600;
  color: #4caf4f;
  line-height: 44px;
  margin: 0 auto;
}

#client-connection p {
  font-size: 16px;
  font-weight: 300;
  color: #18191f;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
}

#client-connection .left,
#client-connection .right {
  width: 50%;
}

#client-connection .card {
  width: 50%;
}

#client-connection .card .flex {
  justify-content: flex-start;
  gap: 16px;
}

#client-connection .card h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #4d4d4d;
}

#client-connection .card h4 {
  font-size: 16px;
  font-weight: 300;
  color: #717171;
  line-height: 24px;
}

#client-connection .top-gap {
  margin-top: 40px;
}

#marketing {
  padding-top: 48px;
  padding-bottom: 96px;
}

#marketing h2 {
  text-align: center;
  color: #4d4d4d;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}

#marketing p {
  color: #717171;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 628px;
  margin: 0 auto;
  margin-top: 8px;
}

#marketing .card {
  position: relative;
  width: 32%;
}

#marketing .card img {
  width: 100%;
}

#marketing .card .content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  width: 90%;
  background-color: #f5f7fa;
  padding: 16px;
  border-radius: 8px;
}

#marketing .card .content h3 {
  color: #717171;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
#marketing .card .content button {
  color: #4caf4f;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  padding: 8px 0;
  margin-top: 16px;
}

footer {
  background-color: #263238;
  padding: 64px 0;
}

footer .left {
  width: 40%;
}

footer .right {
  width: 60%;
}

footer img {
  margin-bottom: 40px;
}

footer p {
  color: #f5f7fa;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

footer .left {
  padding: 21px;
}

footer .left ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 16px;
}

footer ul li a {
  display: inline-block;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 100%;
  color: white;
  font-size: 17px;
}

footer .right .flex {
  align-items: flex-start;
}

footer .right h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  margin-bottom: 24px;
}

footer .right ul {
  list-style-type: none;
}

footer .right ul li a {
  text-decoration: none;
  background: none;
  color: #f5f7fa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 0;
  display: inline-block;
  margin-bottom: 12px;
}

footer .right .email {
  width: 255px;
  position: relative;
}

footer .right input {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.363);
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

footer .right input::placeholder {
  color: #d9dbe1;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

footer .right .email i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  color: white;
  font-size: 16px;
}
