* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 22px;
  background-color: #f5f7fa;
}

.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #18191f;
}

nav .btn .login {
  font-weight: 500;
  font-size: 14px;
  color: #4caf4f;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
}

nav .btn .signup {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #4caf4f;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 6px;
}

#hero {
  background-color: #f5f7fa;
  padding: 96px 0;
}

#hero .left h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #4d4d4d;
}

#hero .left h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #4caf4f;
}

#hero .left p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
  margin-top: 16px;
}

#hero .left button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 24px;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4caf4f;
  outline: none;
  border: none;
  margin-top: 32px;
}
